<!DOCTYPE html>

<html>
    <head>
        <title>Wanteds | Welcome</title>
        <link rel="stylesheet" type="text/css" href="static/main.css">
    </head>
    <body>
        <h1>Wanteds</h1>
        <h2>Find the things you need, no hassles.</h2>
        <hr>
        <p>Welcome to Wanteds. Wanteds is the number one place to find the things you need. No more wading through lists and lists of spam and useless content in platforms like Gumtree and OLX. Sellers can alos easily identify people looking for what you got. Don't mess around on other platforms. Find some one thats wants what you got!</p>
        <h4>To Do List: </h4>
        <ul>
            <li>Make website responsive</li>
            <li>Build up templating system</li>
            <li>Prevent multiple account being created for each e-mail address</li>
            <li>Use cookies so that users can see when they are loggedin</li>
            <!-- <li>Start uploading content to platform</li> -->
            <!-- <li>Split platform into News and Opinion</li> -->
            <!-- <li>Integrate Coursebuilder</li> -->
            <!-- <li>Integrate video search</li> -->
        </ul>
        <a href="/blog">Blog</a>
        <a href="/blog/signup">Signup</a>
    </body>
</html>